astropy>=5.0
numpy>=1.21
pandas>=1.5
scipy>=1.7
matplotlib>=3.5
pytest>=7.0
jupyter>=1.0
tqdm>=4.64

xgboost
scikit-learn
matplotlib
seaborn

streamlit
plotly

lightgbm
imbalanced-learn
mlflow
netCDF4>=1.6.0
cftime>=1.6.0
shap
PyWavelets
